*.a filter=lfs diff=lfs merge=lfs -text
Sources/libmupdf.xcframework/macos-arm64_x86_64/libmupdf.a filter=lfs diff=lfs merge=lfs -text
Sources/libmupdf.xcframework/ios-arm64_x86_64-simulator/libmupdf.a filter=lfs diff=lfs merge=lfs -text
